# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/media/*
web/Publish/*

# Configuration files
app/config/parameters.ini

.settings/*
.buildpath
.project
.DS_Store
*~
