{% extends '::base.html.twig' %}

{%block main %}
    <button id="flushall" class="btn danger">清空</button>
    <button id="saveremote" class="btn primary">保存至服务器</button>
    <ol id="units" class="units" style="border: 1px solid red; height: 500px;">
    </ol>
{% endblock %}
