{% extends '::base.html.twig' %}

{%block main %}
    <div class="well">
        <button id="flushall" class="btn danger">清空</button>
        <button id="saveremote" class="btn primary">保存至服务器</button>
    </div>
    
    <div id="article-pages">
        <ol class="pages">
            <li class="page"><a href="#"><img src="http://placehold.it/128x96" /></a></li>
            <li class="page"><a href="#"><img src="http://placehold.it/128x96" /></a></li>
        </ol>
    </div>
    
    <ol id="editarea" class="">
        <!--<li class="article">
            <h5>文章一</h5>
            <div style="position:relative;">
                <ol class="pages">
                    <li class="page"><img src="http://placehold.it/128x96" /></li>
                    <li class="page"><img src="http://placehold.it/128x96" /></li>
                </ol>
                <div class="progressbar-wrapper" style="">
                    <div class="progressbar"></div>
                </div>
            </div>
            <span class="footer">1</span>
        </li>
        <li class="article">
            <h5>文章二</h5>
            <div class="cover"></div>
            <ol class="pages">
                <li class="page"><img src="http://placehold.it/128x96" /></li>
                <li class="page"><img src="http://placehold.it/128x96" /></li>
            </ol>
            <span class="footer">2</span>
        </li>-->
    </ol>
{% endblock %}
