{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="errortips">
	    <ul>
	        {% for error in errors %}
	            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
	        {% endfor %}
	    </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}