{% extends '::base.html.twig' %}

{% block main %}
    <h2>输出预览：</h2>
    <div class="issue">
        <div class="articles">
            {% for article in issue.articles %}
            <div class="article" id="article-{{ article.id }}">
                文章标题：{{ article.title }}
                {# @todo will incur terrible amount of database queries #}
                {% for page in article.pages %}
                    <div style="margin-left:20px;">类型：{{ page.type }}，页面：{{ page.landscapeImg }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}