{% extends '::base.html.twig' %}

{% block title %}
	页面浏览
{% endblock %}

{% block body %}
<div class="container">
	<button id="addpage" class="btn primary" style="position: fixed;">增加</button>
	<br/><br/>
	<div class="span14">
	<ol id="units" class="units">
		<!--<li><a href="#1" title="123"><img src="images/thumb1.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb2.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb1.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb2.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb1.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb2.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb1.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb2.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb2.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb1.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb2.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb1.jpg" /></a></li>
		<li><a href="#1"><img src="images/thumb2.jpg" /></a></li>-->
	</ol>
	</div>
</div>
{% endblock %}