{% extends '::base.html.twig' %}

{% block main %}
    <h1 style="color:#333;">欢迎使用iMagShow</h1>
    
    <div class="row" style="margin-top:20px;">
        <div class="span6">
            <h3>最新讯息</h3>
            {% render 'MagendNewsBundle:News:latest' %}
        </div>
        
        <div class="span6">
            <h3>操作记录</h3>
            
        </div>
        {#
        <div class="span6">
            <h3>最近打开的期刊</h3>
            {% if magazine is not null %}<a href="{{ path('magazine_issues', { 'id':magazine.id}) }}">{{ magazine.name }}</a>{% endif %}
            
            {% if is_granted('ROLE_ADMIN') %}
            <p style=" margin-top:40px; font-size: 18px;"><a href="{{ path('published') }}">点击查看Publish了的的资源文件</a></p>
            {% endif %}
        </div>
        #}
    </div>
{% endblock %}