html, body {
	font-family: SimHei
}
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.centered {
    margin: 0px auto;
    display: block;
}
button::-moz-focus-inner {
  border: 0;
}

label.hidelabel { display:none; }
.hot_field {
	margin-bottom: 4px;
}
.hot_field label {
    margin-right: 10px;
    width: auto !important;
    float: none;
}
.copyright {
    font-size:18px; font-weight: bold;
}
.copyright_on, .copyright_off:hover {
	color: #57A000; text-decoration: none;
}
.copyright_off, .copyright_on:hover {
    color: #CCC; text-decoration: none;
}
.copyright_chosen {
    color: red;
}

.newPages {
	padding: 10px 0 0 60px;
}
.newPages li.page {
	margin-top: 10px;
	border: 2px solid #57A000;
}
.newPages li.page.unsynced {
	border: 2px solid yellow;
}
.newPages li.page.syncfail {
    border: 2px solid red !important;
}
.assets-panel { width: 340px; height: 150px; background-color: #333; overflow: auto; }
.assets-panel li.hotimg { position: relative;  float: left; margin: 10px 0 0 18px; border: 2px solid #57A000; }
.assets-panel li.hotimg.unsynced { border: 2px solid yellow; }
.assets-panel li.hotimg.syncfail { border: 2px solid red !important; }
#articles_layout ol.articles {
	float: left;
}
#articles_layout li.article {
	margin-right: 10px;
}
#articles_layout ol.pages {
	height: auto !important;
	min-height: 96px;
}
li.page:hover .pagedel, li.hotimg:hover .pagedel {
    visibility: visible;
}
.issueImg {
	position: relative;
}
.issueImg:hover .pagedel {
    visibility: visible;
}
.noImg .pagedel, .noImg:hover .pagedel {
	display: none !important;
}
.pagedel {
    /*display: block;*/
    visibility: hidden;
    width: 22px; height: 22px;
    position: absolute; top: -11px; right: -11px;
    background: transparent url('../images/close.png') no-repeat center center;
}
li.hotimg a, li.hotimg img {
    display: block;
}

#article_pages {
	padding-top: 20px;
}


#issue_cover {
	width: 120px;
	height: 160px;
	display: block;
	background-color: #ccc;
}

.show_articles {
	width:720px;
	overflow-x: auto;
}
.show_articles .article {
	margin-right: 10px;
}
.show_articles .article a {
	display: block;
}

.issue_articles {
    overflow-x: auto;
}
.articles {
	/*padding: 20px 0px 100px 0px;*/
	min-width: 800px;
	/*super important for sortable*/
}
li.highlighted {
	background-color: #FFFFAA;
}
li.very-highlighted {
    background-color: #FFCC33;
}
li.article {
    float: left;
    /*width: 130px;*/
    
    padding: 4px;
    margin: 0 0 16px 0px; /* article-placeholder holds margins */
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    
    position: relative;
}
li.article .del {
	display: none;
	position: absolute;
	top: 12px;
	right: 6px;
	color: gray;
	text-decoration: none;
	font-weight: bold;
}
li.article:hover .del {
    display: block;
}
li.article .del:hover {
	color: #333;
}
li.article-placeholder {
	float: left;
	
}
li.article-placeholder ol.pages {
    width: 18px;
    /*min-height: 96px;*/
    height: 160px;/* consider border */
}
/* change width, height if necessary */
li.article .cover {
	width: 128px;
	height: 96px;
	position: absolute;
	left: 5px; top: 41px;
}
li.article ol.pages {
	width: 128px;
	/*min-height: 96px;*/
	height: 96px;/* consider border */
	overflow: hidden;
	background-color: #57A000; /* indicate no page inside */
	border: 1px solid #333;
}
.expanded ol.pages {
	overflow: visible !important;
}
li.page {
	float: left;
    margin-left: 18px;
    position: relative;
}

/*
.close:hover {
    background-image: url('../images/closebtn_h.png');
}*/
li.article li.page {
	/*float: left;*/
	margin-bottom: 4px;
	margin-left: 0px !important;
	width: 128px;
	height: 96px;
}
li.article .footer {
	width: 100%;
	display: inline-block;
	text-align: right;
}
li.page a, li.page img {
	display: block;
}
li.page img { width: 128px; height: 96px; }
li.article .progressbar-wrapper {
    position: absolute;
    top: 0px;
    width: 100%; height: 4px;
    background-color: yellow;
}
li.article .progressbar {
	width: 60%; height: 100%;
	background-color: green;
}
li.editing-page {
	float: left;
	margin: 0px 0px 0px 18px;
	padding: 42px 0px 40px 0px; /* important affect sortable layout */
}

#article-pages {
	/*
	position: absolute;
	left: 72px;
	width: 138px;
	padding: 10px 4px 4px 4px;
	*/
	display: none;
	padding: 8px 20px 0px 20px;
	background-color: white;
}
#article-pages li.page { /*, li.page.ui-sortable-helper*/
	margin: 0px 4px 4px 0px;
	
	width: 128px;
	float: left;
	list-style: none;
	
    padding: 4px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

ol, ul { list-style: none; }


/*page editor*/
#page_editor {
	width: 1024px;
	height: 840px;
	/*padding-left: 30px;*/
	position: relative;
}
#hot_essential div {
	margin-bottom: 5px;
}
#hotlib {
    z-index: 9;
	background-color: #CCC;
	padding-right: 5px;
	height: 60px;
	margin: 10px 0 0 0;
}
.hot_add {
	float: left;
	margin: 5px 0 0 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: #DDD;
	cursor: pointer;
}
.hot_add:hover {
	color: green;
}
#page_canvas {
	position: absolute; /*!important must be positioned for tracking positions of inside elements */
	width: 1024px;
	height: 768px;
	margin: 0; padding: 0;
}
#page_canvas_img {
	position: absolute;
}
#hothelper {
	position: absolute;
	width: 10px; height: 10px;
	background-color: red;
}
#hothelper .ui-resizable-handle {
	cursor: auto !important;
}
#hothelper .ui-icon {
	background-image: none;
}
#info_panel {
	position: absolute;
	left: 400px; top: 20px;	
}
.page_canvas_ruler {
    background: transparent url('../images/canvas-ruler.png') no-repeat left top;
    width: 1052px;
    height: 786px;
    padding-left: 17px;
    padding-top: 17px;
    margin-left: -17px;
}
.hot {
	position: absolute; /*!important*/
	padding: 0px; margin: 0px; list-style: none;
	width: 80px; height: 80px;
	background-color: rgba(255, 255, 255, 0.5);
	/*background: transparent url('../images/stripe.png') repeat;
	opacity: 0.6;*/
	opacity: 0.6;
}
.hot:hover {
	/*background: transparent url('../images/stripe2.png') repeat;*/
	background-color: rgba(0, 125, 255);
}
.hotsel {
	background-color: rgba(0, 125, 255, 1.0);
	opacity: 1.0;
	box-shadow: 0 0 0 1px royalblue;
	/*
	opacity: 0.8;
	background: transparent url('../images/stripe2.png') repeat;*/
}
.hot .hot-toolbar {
    display: none;
    position: absolute;
    top:-33px;
    left:-2px;
    width:100%;
    min-width: 230px;
    padding: 3px 2px 2px;
    background-color: royalblue;
    z-index: 2000;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    opacity: 1.0;
}
.hotsel .hot-toolbar {
    display: block;
}
.hot .size-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    opacity: 0.5;
}
.hotsel .size-indicator {
    opacity: 0.8;
}
.hot .size-indicator-text {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 2% 0;
    position: relative;
    bottom: 0;
}
li.ui-selected {
	background-color: rgba(255, 0, 0, 0.5);
}
#hot_dialog {
	display: none;
}
table.bordered-table {
	border-top: 0 none !important;
}
/* form */
ul, ol {
	margin: 0; padding: 0;
	list-style: none outside none;
}
.errortips li {
	color: #B94A48; font-size: 11px;
}
.tagit {
	margin-left: 0!important;
}
ul.tagit input[type="text"] {
	box-shadow: none;
}