html, body {
    background-color: #eee;
    font-family: SimHei
}
body {
    /*padding-top: 40px;*/ /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
         -moz-border-radius: 0 0 6px 6px;
                    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

#ui-datepicker-div {
    z-index: 100 !important;
}

.ui-state-highlight {
    background-color: #F4F8FD !important;
}

.mybread {
    list-style: none outside none;
    margin: 0; padding: 0;
}

.mybread li {
    display: inline;
    text-shadow: 0 1px 0 #FFFFFF;
}

.mybread .divider {
    color: #BFBFBF;
    padding: 0 5px;
}
.wrapper {
	margin-top: 20px;
}
.wrapper > .content {
    margin-left: 240px;
    min-height: 600px;
}

/* units (gallery)*/
.units {
  margin-left: -20px;
  margin-bottom: 0;
  zoom: 1;
}
.units:before, .units:after {
  display: table;
  content: "";
  zoom: 1;
}
.units:after {
  clear: both;
}
.units li {
  text-align: right;
  float: left;
  padding: 4px;
  margin: 0 0 18px 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.units li a, .units li img {
	display:block;
}
.units li:hover {
  border-color: #0069d6;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
ol, ul { list-style: none; }

/*page editor*/
#page_canvas {
	position: absolute; /*!important must be positioned for tracking positions of inside elements */
	width: 1024px;
	height: 768px;
	margin: 0; padding: 0;
}
#hothelper {
	position: absolute;
	width: 10px; height: 10px;
	background-color: red;
}
#hothelper .ui-resizable-handle {
	cursor: auto !important;
}
#hothelper .ui-icon {
	background-image: none;
}
#info_panel {
	position: absolute;
	left: 400px; top: 20px;	
}
.hot {
	position: absolute; /*!important*/
	padding: 0px; margin: 0px; list-style: none;
	width: 80px; height: 80px;
	background-color: rgba(255, 255, 255, 0.5);
}
li.ui-selected {
	background-color: rgba(255, 0, 0, 0.5);
}
#hot_dialog {
	display: none;
}

/* form */
ul, ol {
    margin: 0; padding: 0;
    list-style: none outside none;
}
.errortips li {
    color: #B94A48; font-size: 11px;
}
.tagit {
	margin-left: 0!important;
}
ul.tagit input[type="text"] {
	box-shadow: none;
}