<a href="{{ path(admin.showOnSiteRouteName, { 'id':object.id }) }}" class="on_site" title="{% trans from 'SonataAdminBundle' %}on_site{% endtrans %}">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/magnifier.png') }}" alt="{% trans from 'SonataAdminBundle' %}on_site{% endtrans %}" />
</a>