{% extends '::base.html.twig' %}

{% block title %}
	单页编辑
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">编辑热点</li>
{% endblock %}

{% block main %}
<div id="page_editor">
    <input type="checkbox" id="selenable" />
    <div id="info_panel">
        
    </div>
    <button id="flushall" class="btn">清空</button>
    <button id="undo" class="btn">Undo</button>
    <button id="redo" class="btn">Redo</button>
    <p/>
    <div id="hot_dialog">
    	<select class="span2" id="hottype">
    	   <option value="0">链接</option>
    	   <option value="1">视频</option>
    	</select>
    </div>
    <div>
        <div id="page_canvas_img" tabIndex="1">
            <img src="{{ asset('uploads/' ~ page.landscapeImg) }}" />
        </div>
    	<ul id="page_canvas">
    	</ul>
    </div>
</div>
{% endblock %}