{% extends '::base.html.twig' %}

{% block title %}单页编辑{% endblock %}

{# belongs to which article, issue and magazine #}

{% block main %}
<div id="page_editor">
    <!--<input type="checkbox" id="selenable" />
    <div id="info_panel">
        
    </div>-->
    <div style="width: 768px;">
        <button id="saveall" class="btn primary">保存</button>
        <button id="undo" class="btn">撤销</button>
        <button id="redo" class="btn">重做</button>
        <button id="flushall" class="btn danger" style="float: right;">清空</button>
    </div>
    <p/>
    <div id="hot_dialog">
    	<select class="span2" id="hottype">
    	   <option value="0">链接</option>
    	   <option value="1">视频</option>
    	</select>
    </div>
    <div>
        <div id="page_canvas_img" tabIndex="1">
            <img src="{{ asset('uploads/' ~ page.landscapeImg) }}" />
        </div>
    	<ul id="page_canvas">
    	</ul>
    </div>
    <ul id="hotlib">
        <li class="hotobj hotimg">图片</li>
        <li class="hotobj hotvideo">视频</li>
        <li class="hotobj hotlink">链接</li>
    </ul>
</div>
{% endblock %}