<a href="#" class="profile_link" title="查看{{ object.corp is null ? '用户' : '企业' }}资料">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/magnifier.png') }}" alt="{{ object.corp is null ? '用户' : '企业' }}资料" />
</a>