<option value=""></option>
{% for _issue in issues %}
    <option value="{{ _issue.id }}" {% if issue is defined and _issue.id == issue.id %}selected="selected"{% endif%}>{{ _issue.title }}</option>
{% endfor %}