{% extends '::base.html.twig' %}

{% block contentTitle %}开发设置{% endblock %}

{% block main %}
    <p style="color:red">下文中的用户ID均为整数ID</p>

    <h3>收藏接口</h3>
    <ol>
        <li>
        收藏某个文章<br/>
        /fav/article/xxx?uid=yyy (xxx为文章ID，yyy为用户ID)
        </li>
        <li>
        删除某个特定收藏<br/>
        /fav/xxx/delete (xxx是收藏的ID，不是文章ID)
        </li>
        <li>
        某个用户收藏的文章列表<br/>
        /fav/user/xxx/articles?_format=xml (xxx为用户ID)
        /fav/user/xxx/articles (xxx为用户ID，网页版形式)
        </li>
    </ol>

    <h3 style="margin-top:20px;">注册接口</h3>
    <ol>
        <li>用户ID
        fos_user_registration_form[username]
        </li>
    
        <li>用户昵称
        fos_user_registration_form[nickname]
        </li>
        
        <li>邮箱
        fos_user_registration_form[email]
        </li>
    
        <li>密码
        fos_user_registration_form[plainPassword][first]
        </li>
        
        <li>密码确认
        fos_user_registration_form[plainPassword][second]
        （注册成功后会以xml的形式返回新注册用户的信息）
        </li>
    </ol>

    <h3 style="margin-top:20px;">评论接口</h3>
    /article/api/xxx/comment/new (xxx为文章ID)
    请求方法为POST<br/>
    参数<br/>
    body，即留言内容<br/>
    uid，用户ID<br/>
    <br/>
    网页版管理<br/>
    /article/xxx/comment/list （留言列表，可删除）
{% endblock %}
